<div class="container center"> 
  <hr>
  <div ng-repeat="t in vm.tasks">
    <div class="plan col-sm-4 col-lg-4">
          <div class="plan-name-bronze">
            <h3>{{t.title}}</h3>
            <p>{{t.description}}</p>
            <a href="#" class="btn btn-primary-outline btn-lg white" ng-click="vm.solveTask(t.id)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-primary-outline btn-lg white" ng-click="vm.deleteTask(t.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          </div>
        </div>
  </div>
  <hr>
</div>